*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
html,body{
  font-family:'EB Garamond', serif;
  font-size: 22px;
  line-height: 1.7em
}
a{
  color:rgb(36, 36, 5);
  text-decoration: none;
}
h1,h2,h3{
  padding-bottom: 20px;
}
.l-heading{
  font-size: 44px;
  padding-bottom: 50px;
}
.py1{padding: 10px 0;}
.py2{padding: 20px 0;}
.py3{padding: 30px 0;}
p {
  margin: 10px, 0;
}
.primary-info{
  color:rgb(213, 212, 141);
}
.lead
{
  font-size: 28px;
}
.clr{
  clear: both;
}
#navbar{
  background: rgb(210, 212, 197);
  overflow: auto;
}
#navbar a{
  color:rgb(107, 105, 8);
}
#navbar h1{
  float: left;
  padding-top: 20px;
}
#navbar ul li a.current{
  background-color: rgb(195, 201, 170);
  color:rgb(60, 59, 1);
  cursor: pointer;
}
.logo{
  font-style: inherit;
  font-weight: 800;
  font: bolder;
  color:rgb(84, 83, 6);
}
#navbar ul{
  list-style: none;
  float: right;
}
#navbar ul li{
  float: left;
}
#navbar ul li a{
  display: block;
  padding: 20px; 
  text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: rgb(185, 193, 138);
  color:rgb(60, 59, 1);
  cursor: pointer;
}
/*Showcase*/
#showcase{
  background: url('../img/img1.jpg') center center/cover;
  height: 600px;
}
#showcase .showcase-content{
  color: rgb(210, 212, 197);
  text-align: center;
  padding-top: 170px;
}
#showcase .showcase-content h1{
  font-size: 60px;
  line-height: 1.2 em;
}
#showcase .showcase-content p{
  padding-bottom: 20px;
  line-height: 1.8em;
}
/*buttons*/
.btn{
  display: inline-block;
  font: 18px ;
  color: rgb(210, 212, 197);
  background-color:rgba(88, 87, 3, 0.687);
  border-radius: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.btn:hover{
  color: rgb(51, 69, 51);
  background-color: rgba(143, 190, 90, 0.683);
}
.btn2{
  display: inline-block;
  font: 18px ;
  color: rgb(210, 212, 197);
  background-color:rgba(88, 87, 3, 0.687);
  border-radius: 18px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.btn2:hover{
  color: rgb(51, 69, 51);
  background-color: rgba(143, 190, 90, 0.683);
  
}
.btn-info{
  display: inline-block;
  font: 18px ;
  color: rgb(210, 212, 197);
  background-color:rgba(88, 87, 3, 0.687);
  border-radius: 18px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.btn-info:hover{
color: rgb(51, 69, 51);
background-color: rgba(143, 190, 90, 0.683);
}
/*Info*/
#home-info{
  height: 350px;
  margin: auto;
  padding: 0;
}
.info-img{
  width: 50%;
  height: 350px;
  float: left;
}
.info-img img{
  width: 100%;
  height: 100%;
}
.info-content{
  text-align: center;
  float: right;
  width:50%;
  background: rgba(7, 3, 0, 0.945);
  color: antiquewhite;
  font-size: smaller;
  padding: 50px 30px;
  overflow:hidden;
  height: 350px;
  min-height: 100%;
}
.info-content p{
  padding-bottom: 30px;
  line-height: 1.7em;
}
/*Features(border-box must be */
.box{
  float: left;
  width: 33.3%;
  border: 1px rgb(219, 116, 116) ;
  text-align: center;
  height: inherit;
  background-color: rgb(210, 212, 197);
  
}
#features{
  font-size: 13px;
  height: 152px;
  color: rgb(139, 111, 68);
}
#b2{
  border-style: dashed;
  background-color:rgba(222, 107, 20, 0.945);
  color: black;
}
.footer{
  text-align: center;
  background-color: #bbc386;
  font-size: small;
}
/*About page*/
.container2{
  background-color: rgba(222, 215, 148, 0.305) ;
}

#about-info .info-left{
  color: rgb(154, 95, 18);
  padding: 20px;
  float:left;
  width: 50%;
  min-height: 100%;
  height: 400px;
  line-height: 2em;
  text-align: center;
  background-color: rgba(222, 215, 148, 0.305);
  overflow: hidden;

}
.primary-info1{
  color: rgb(255, 166, 51);
}
#about-info .info-right{
  padding: 20px;
  float: right;
  width: 50%;
  min-height: 100%;
  height: 400px;
  background-color:rgba(222, 215, 148, 0.305) ;
}
.info-right img{
    width: 50%;
    display: block;
    margin: auto;
    height: 350px;
    border-radius: 50%;
}
/*Testimonilas*/
#testimonials{
  padding-top: 30px;
  height: 900px;
  background:  url('../img/arkaplan1.jpg') center no-repeat;
}
.testimonial{
  color: rgb(210, 191, 212);
  text-align: left;
  background-color: rgb(83, 61, 71);
  border-radius: 15px;
  height: 200px;
  padding: 25px;
  margin-bottom: 80px;

}
#testimonials .testimonial img{
    height: 150px;
    width: 130px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.test-head{
  text-align: center;
  color: antiquewhite;
}
/*Contact form*/
#contact-form{
  background-image: url('../img/yalandan.jpg');
  background-position: center;
}
#contact-form .container{
  background-color: #efd1dfcc;
  font-weight: bold;
  color: #69354f;
  margin: 0% 30%;
  height: 700px;
  border-radius: 40px;
  text-align: center;
}
#contact-form .form-group{
  padding-bottom: 15px;
}
#contact-form label{
  display: block;
  margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea{
  width: 50%;
  padding: 10px;
  border-color:rgb(242, 246, 244) ;
  border: 2px;
  border-radius: 20px;
}
#contact-form input:focus,
#contact-form textarea:focus{
  border-color: rgb(184, 83, 94);
}
.miu{
  color: rgba(250, 0, 0, 0.4);
}
.heading-contact{
  padding: 30px;
}
.susayol{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(66, 12, 63);
  background-color: rgba(215, 164, 219, 0.679);
  text-align: center;
  padding: 20px 45px;
  border-radius: 20px;
  border: #bbc386;
}
.susayol:hover{
  color: blanchedalmond;
  background-color: rgb(217, 185, 219);
  cursor: pointer;
}